*{
    font-family: "Noto Sans KR", sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding: 0px;
    color: #000;
}

h1{
    font-size: 48px;
    font-weight: 100px;
}
.contents1{
    font-size: 50px;
    /* font-weight: lighter; */
}
.intro_bg{
    background-image:url("css/image/img1-3.png");
    width:100%;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-start;
    width: 1700px;
    margin:auto;
    height: 86px;
    /* background: #fff; */
}

.mainlogo img {
    margin-top: 25px;
}
.mainlogo {
    width: 300px;
}
.mainlogo > a > h2 {
    color: #fff;
}
.login {
    width: 150px;
    text-align: end;
    /* background-color: blue; */
}
.login > li {
    margin-left: auto;
}

.login > li > a {
    color: #fff;
    font-size: 18px;
    line-height: 100px;
    /* width: 100px; */
}
.mem_info {
    width: 150px;
    text-align: end;
    /* background-color: blue; */
}
.mem_info > li {
    margin-left: auto;
}

.mem_info > li > a {
    color: #fff;
    line-height: 100px;
    /* width: 100px; */
}

.nav{
    display: flex;
    justify-content:center;
    line-height: 100px;
    /* width:calc(1280px - 300px); */
    width: 980px;
}

.nav > li{
    margin-left: 84px;
}

.nav > li > a {
    color:white;
    font-size: 18px;
    font-weight: 650;
}
/* .nav > li:not(:first-child) > a{
    margin-right: px;
} */
.end {
    bottom: 0;
    position: fixed;
    display: flex;
    /* justify-content: flex-start; */
    /* background: blue; */
    height: 100px;
    line-height: 100px;
    /* font-weight: var(--wight); */
    /* text-align: end; */
}
.end > li{
    margin-left: 30px;
}
.end > li > a {
    color: #fff;
}
/* .amount{
    position: relative;
    top: -66px;
    display: flex;
    width: 1280px;
    background: red;
    margin: auto;
}
.amount > li > div{
    text-align: center;
    background: green;
    height: 57px;
    margin-top: 37px;
}
.amount > li:not(:last-child) > div{
    border-right: 1px solid gray;
}
.amount > li {
    flex: 1;
    height: 132px;
    background:blue;
} */
.intro_text{
    width:100%;
    margin: 231px auto 231px auto;
    text-align: center ;
    margin-top: 50px;
}

.intro_text > h1{
    color: #fff;
}
.intro_text > h4{
    font-size: 30px;
    color:#fff;
}
/* .end > li {
    text-align: center;
}*/
